<div class="container"></div>
    <h1 class="display-4">Message App</h1>
    <br>
    <input id="name" class="form-control" placeholder="Họ tên">
    <br>
    <textarea id="message" class="form-control" placeholder="Nhập tin nhắn tại đây"></textarea>
    <br>
    <button id="sendButton" class="btn btn-success">Gửi</button>
    <div id="messages" class="messages-container"></div>
</div>