<div class="container">
    <h1 class="display-4">App Chat</h1>
    <br>
    <input id="name" class="form-control" placeholder="Họ tên">
    <br>
    <textarea id="message" class="form-control" placeholder="Nhập tin nhắn tại đây"></textarea>
    <br>
    <button id="sendButton" class="btn btn-success">Gửi</button>
    <div id="messages" class="messages-container messages-scroll"></div>
</div>